In [1]:
%cd '/content/drive/Shareddrives/With Myself/kaggle-datasets/ieee-fraud-detection-dataset'

/content/drive/Shareddrives/With Myself/kaggle-datasets/ieee-fraud-detection-dataset

In [ ]:
# check gpu
# !nvidia-smi
# when gpu runtime is enabled

[article](https://towardsdatascience.com/the-right-way-to-use-deep-learning-for-tabular-data-entity-embedding-b5c4aaf1423a?gi=b2688b33cfb6)

In [9]:
import numpy as np
import pandas as pd

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [29]:
import tensorflow as tf

In [25]:
from tensorflow.keras.layers import Input, Embedding, Dense, Reshape, Concatenate, Dropout, BatchNormalization
from tensorflow.keras import Model

In [3]:
train = pd.read_csv("train_transaction.csv")
test = pd.read_csv("test_transaction.csv")

In [4]:
train.head()

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        2987000        0          86400  ...   NaN  NaN   NaN
1        2987001        0          86401  ...   NaN  NaN   NaN
2        2987002        0          86469  ...   NaN  NaN   NaN
3        2987003        0          86499  ...   NaN  NaN   NaN
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 394 columns]

In [5]:
test.head()

   TransactionID  TransactionDT  TransactionAmt  ... V337  V338  V339
0        3663549       18403224           31.95  ...  NaN   NaN   NaN
1        3663550       18403263           49.00  ...  NaN   NaN   NaN
2        3663551       18403310          171.00  ...  NaN   NaN   NaN
3        3663552       18403310          284.95  ...  NaN   NaN   NaN
4        3663553       18403317           67.95  ...  NaN   NaN   NaN

[5 rows x 393 columns]

In [6]:
train["isFraud"].mean()

0.03499000914417313

In [11]:
# generate time of day
train["Time of Day"] = np.floor(train["TransactionDT"]/3600/183)
test["Time of Day"] = np.floor(test["TransactionDT"]/3600/183)
# drop columns
# train.drop("TransactionDT",axis=1,inplace=True)
# test.drop("TransactionDT",axis=1,inplace=True)
# we actually dont need to drop any columns, since we are copying our required columns to a new dataframe
# define continuous and categorical variables
cont_vars = ["TransactionAmt"]
cat_vars = ["ProductCD","addr1","addr2","P_emaildomain","R_emaildomain","Time of Day"] + [col for col in train.columns if "card" in col]

In [12]:
# set training and testing set
x = train[cont_vars + cat_vars].copy()
y = train["isFraud"].copy()

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
# process cont_vars
# scale values
scaler = StandardScaler()
x_train["TransactionAmt"] = scaler.fit_transform(x_train["TransactionAmt"].values.reshape(-1,1))
x_test["TransactionAmt"] = scaler.transform(x_test["TransactionAmt"].values.reshape(-1,1))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [17]:
# reduce cardinality of categorical variables
idx_list = x_train["card1"].value_counts()[x_train["card1"].value_counts()<=100].index.tolist()
x_train.loc[x_train["card1"].isin(idx_list),"card1"] = "Others"
x_test.loc[x_test["card1"].isin(idx_list),"card1"] = "Others"
# fill missing
x_train[cat_vars] = x_train[cat_vars].fillna("Missing")
x_test[cat_vars] = x_test[cat_vars].fillna("Missing")

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [20]:
# convert to numerical value for modelling
def categorify(df, cat_vars):
  categories = {}
  for cat in cat_vars:
    df[cat] = df[cat].astype("category").cat.as_ordered()
    categories[cat] = df[cat].cat.categories
  return categories

In [22]:
def apply_test(test, categories):
  for cat, index in categories.items():
    test[cat] = pd.Categorical(test[cat], categories=categories[cat], ordered=True)

In [23]:
# convert to integers
categories = categorify(x_train, cat_vars)
apply_test(x_test, categories)

for cat in cat_vars:
  x_train[cat] = x_train[cat].cat.codes+1
  x_test[cat] = x_test[cat].cat.codes+1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [24]:
# get embedding size for each categorical variable
def get_emb_sz(cat_col, categories_dict):
  num_classes = len(categories_dict[cat_col])
  return int(min(600,round(1.6*num_classes**0.56)))

In [28]:
def combined_network(cat_vars, categories_dict, cont_vars, layers):
  inputs = []
  embeddings = []
  emb_dict ={}
  
  # create embedding layer for each categorical variables
  for cat in cat_vars:
    emb_dict[cat] = Input(shape=(1,))
    emb_sz = get_emb_sz(cat, categories_dict)
    vocab = len(categories_dict[cat])+1
    embedding = Embedding(vocab, emb_sz, input_length=1)(emb_dict[cat])
    embedding = Reshape(target_shape=(emb_sz,))(embedding)
    inputs.append(emb_dict[cat])
    embeddings.append(embedding)
  
  # concat continuous variables with embedded variables
  cont_input = Input(shape=(len(cont_vars),))
  embedding = BatchNormalization()(cont_input)
  inputs.append(cont_input)
  embeddings.append(embedding)
  x = Concatenate()(embeddings)
  
  # add user-defined fully-connected layers separated with batchnorm and dropout layers
  for i in range(len(layers)):
    if i == 0:
      x = Dense(layers[i], activation="relu")(x)
    else:
      x = BatchNormalization()(x)
      x = Dropout(0.5)(x)
      x = Dense(layers[i], activation="relu")(x)
  output = Dense(1, activation="sigmoid")(x)
  model = Model(inputs, output)
  return model

In [34]:
layers = [200, 100]
model = combined_network(cat_vars, categories, cont_vars, layers)
opt = tf.keras.optimizers.Adam(0.0001)
model.compile(optimizer=opt,
              loss='binary_crossentropy',
              metrics=["accuracy"])
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_14 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_15 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_16 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_17 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_18 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_19 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_20 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_21 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_22 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_23 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_24 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_25 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
embedding_12 (Embedding)        (None, 1, 4)         24          input_14[0][0]
__________________________________________________________________________________________________
embedding_13 (Embedding)        (None, 1, 40)        12600       input_15[0][0]
__________________________________________________________________________________________________
embedding_14 (Embedding)        (None, 1, 17)        1190        input_16[0][0]
__________________________________________________________________________________________________
embedding_15 (Embedding)        (None, 1, 16)        976         input_17[0][0]
__________________________________________________________________________________________________
embedding_16 (Embedding)        (None, 1, 16)        992         input_18[0][0]
__________________________________________________________________________________________________
embedding_17 (Embedding)        (None, 1, 9)         225         input_19[0][0]
__________________________________________________________________________________________________
embedding_18 (Embedding)        (None, 1, 57)        33573       input_20[0][0]
__________________________________________________________________________________________________
embedding_19 (Embedding)        (None, 1, 52)        26104       input_21[0][0]
__________________________________________________________________________________________________
embedding_20 (Embedding)        (None, 1, 22)        2376        input_22[0][0]
__________________________________________________________________________________________________
embedding_21 (Embedding)        (None, 1, 4)         24          input_23[0][0]
__________________________________________________________________________________________________
embedding_22 (Embedding)        (None, 1, 23)        2714        input_24[0][0]
__________________________________________________________________________________________________
embedding_23 (Embedding)        (None, 1, 4)         24          input_25[0][0]
__________________________________________________________________________________________________
input_26 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
reshape_12 (Reshape)            (None, 4)            0           embedding_12[0][0]
__________________________________________________________________________________________________
reshape_13 (Reshape)            (None, 40)           0           embedding_13[0][0]
__________________________________________________________________________________________________
reshape_14 (Reshape)            (None, 17)           0           embedding_14[0][0]
__________________________________________________________________________________________________
reshape_15 (Reshape)            (None, 16)           0           embedding_15[0][0]
__________________________________________________________________________________________________
reshape_16 (Reshape)            (None, 16)           0           embedding_16[0][0]
__________________________________________________________________________________________________
reshape_17 (Reshape)            (None, 9)            0           embedding_17[0][0]
__________________________________________________________________________________________________
reshape_18 (Reshape)            (None, 57)           0           embedding_18[0][0]
__________________________________________________________________________________________________
reshape_19 (Reshape)            (None, 52)           0           embedding_19[0][0]
__________________________________________________________________________________________________
reshape_20 (Reshape)            (None, 22)           0           embedding_20[0][0]
__________________________________________________________________________________________________
reshape_21 (Reshape)            (None, 4)            0           embedding_21[0][0]
__________________________________________________________________________________________________
reshape_22 (Reshape)            (None, 23)           0           embedding_22[0][0]
__________________________________________________________________________________________________
reshape_23 (Reshape)            (None, 4)            0           embedding_23[0][0]
__________________________________________________________________________________________________
batch_normalization_2 (BatchNor (None, 1)            4           input_26[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 265)          0           reshape_12[0][0]
                                                                 reshape_13[0][0]
                                                                 reshape_14[0][0]
                                                                 reshape_15[0][0]
                                                                 reshape_16[0][0]
                                                                 reshape_17[0][0]
                                                                 reshape_18[0][0]
                                                                 reshape_19[0][0]
                                                                 reshape_20[0][0]
                                                                 reshape_21[0][0]
                                                                 reshape_22[0][0]
                                                                 reshape_23[0][0]
                                                                 batch_normalization_2[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 200)          53200       concatenate_1[0][0]
__________________________________________________________________________________________________
batch_normalization_3 (BatchNor (None, 200)          800         dense_3[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 200)          0           batch_normalization_3[0][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 100)          20100       dropout_1[0][0]
__________________________________________________________________________________________________
dense_5 (Dense)                 (None, 1)            101         dense_4[0][0]
==================================================================================================
Total params: 155,027
Trainable params: 154,625
Non-trainable params: 402
__________________________________________________________________________________________________

In [31]:
# process x_train input to fit model
input_list = []
for cat in cat_vars:
  input_list.append(x_train[cat].values)
input_list.append(x_train[cont_vars].values)

# modify x_test input to fit model
test_list = []
for cat in cat_vars:
  test_list.append(x_test[cat].values)
test_list.append(x_test[cont_vars].values)

In [35]:
model.fit(input_list, y_train, epochs=3)

Epoch 1/3
14764/14764 [==============================] - 66s 4ms/step - loss: 0.1569 - accuracy: 0.9589
Epoch 2/3
14764/14764 [==============================] - 62s 4ms/step - loss: 0.1205 - accuracy: 0.9656
Epoch 3/3
14764/14764 [==============================] - 61s 4ms/step - loss: 0.1135 - accuracy: 0.9668

In [39]:
y_pred = model.predict(test_list)
# choose a optimal threshold
# y_pred = y_pred>0.1

In [37]:
from sklearn import metrics

In [40]:
metrics.roc_auc_score(y_test,y_pred)

0.8722266910542498